.hero-container{
    color:white;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.hero-container .logo{
    width:20rem;
    height:20rem;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero-container .logo img{
    width:100%;
    height:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero-container .logo{
    width:20rem;
    height:20rem;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: heartbeat 3s ease-in-out infinite;
}
.hero-container .logo img{
    width:100%;
    height:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: contain; 
}

/* logo heartbeat kinda animation */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.1);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.hero-container h1{
    margin-top: -1rem;
    font-size: 5rem;
    letter-spacing: 2px;
    color:var(--primary);
}
.hero-container p{
    font-size: 1.5rem;
    margin-top: -1rem;
    letter-spacing: 1px;
    color:var(--secondary);
}
.hero-container .call-to-action{
    margin-top: 1rem;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.hero-container .call-to-action button,a{
    font-size: .8rem;
    text-decoration: none;
    color:black;
   background:var(--primary);
   border:none;
   padding:.5rem 3rem;
   border-radius: .5rem;
   transition: all 400ms ease-in-out;
   cursor: pointer;
}
.hero-container .call-to-action button:hover,a:hover{
    transition: all 400ms ease-in-out;
    background:var(--dark-primary);
    color:white;
}


/* ----------------------- MEDIA QUERIES -------------------------- */
@media screen and (max-width: 600px) {
.hero-container{
    color:white;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.hero-container .logo{
    width:20rem;
    height:20rem;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero-container .logo img{
    width:100%;
    height:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero-container h1{
    margin-top: -1rem;
    font-size: 3rem;
    letter-spacing: 2px;
}
.hero-container p{
    font-size: 1rem;
    margin-top: 0rem;
    letter-spacing: 1px;
}
.hero-container .call-to-action{
    margin-top: 1rem;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.hero-container .call-to-action button,a{
    font-size: .8rem;
    text-decoration: none;
    color:black;
   background:var(--primary);
   border:none;
   padding:.5rem 2rem;
   border-radius: .5rem;
   transition: all 400ms ease-in-out;
   cursor: pointer;
}
.hero-container .call-to-action button:hover,a:hover{
    transition: all 400ms ease-in-out;
    background:var(--dark-primary);
    color:white;
}

}