.project-container {
    padding: 1rem 0;
    min-height: 100vh;
}



.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.project-card {
    background: none;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border:.2rem solid var(--primary);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.project-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-bottom: 3px solid #333;
}

.project-content {
    padding: 1rem;

}

.project-title {
    font-size: 1.4rem;
    margin-bottom: .2rem;
    color: var(--primary);
    font-weight: bold;
}

.project-description {
    color: var(--primary);
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: .8rem;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.tech-tag {
    background: var(--primary);
    color: black;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
}
.project-links {
    display: flex;
    gap: 1rem;
}
.project-link {
    flex: 1;
    text-align: center;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}
.github-link {
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary), var(--dark-primary));
    color: none;
    border: none;
}



.demo-link {
    background: var(--primary);
    color: none;
    border: none;
}



@media (max-width: 600px) {
    .project-container {
        padding: 2rem 1rem;
    }
    
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .section-title {
        font-size: 2rem;
    }
    
    .project-links {
        flex-direction: column;
    }
}