.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.the-about {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.about-container .left {
  background: var(--primary);
  width: 20%;
  border-radius: 0.5rem;
}
.about-container .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right .description {
  text-align: justify;
}

.right .tech-stack {
  display: flex;
  gap: 1rem;
}
.right .tech-stack p {
  border: 0.2rem solid var(--primary);
  padding: 0.2rem 2rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .the-about {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    width: 100%;
    height: 100%;
  }
  .about-container .left {
    background: var(--primary);
    width: 50%;
    border-radius: 0.5rem;
  }
  .about-container .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .right .description {
    text-align: justify;
    font-size: 0.8rem;
  }

  .right .tech-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .right .tech-stack p {
    border: 0.1rem solid var(--primary);
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
