.contact-container{
    padding:4rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    margin-top: 20vh;
}
.contact-cards{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.contact-cards .card{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:.5rem;
    padding:.5rem 1rem;
    border-radius: 1rem;
    color:black;
    background:var(--primary);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.contact-cards .card:hover{
    transition: all 400ms ease-in-out;
    background:var(--dark-primary);
}

.contact-cards .card .icon{
    font-size: 2rem;
}


@media screen and (max-width: 600px){
    .contact-cards{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.contact-cards .card{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:.5rem;
    padding:.5rem 1rem;
    border-radius: .5rem;
    color:black;
    background:var(--primary);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.contact-cards .card:hover{
    transition: all 400ms ease-in-out;
    background:var(--dark-primary);
}

.contact-cards .card .icon{
    font-size: 1rem;
}
.contact-cards .card .info{
    font-size: .7rem;
}

}